body{
    margin: 0;
    background-color: rgb(49, 47, 47);
}
.header{
    display: flex;
    justify-content: center;
    background-color: rgb(222, 228, 228);
}
.addButton{
    position: fixed;
    bottom: 0;
    background-color: beige;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 20%;
    height: 2rem;
    font-size: 30px;
    border: 1px solid rgb(164, 194, 203);
    background-color: beige;
}
.wrapper{
    text-align: center;
    background-color: white;
    width: 50%;
    height: 28rem;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form >input{
    width: 95%;
    height: 4rem;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.submit{
    font-size: 40px;
    background-color: rgb(121, 245, 121);
}
.checkbox-wrapper{
    display: flex;
    justify-content: flex-end;
    border: none;
    width: 96%;
    background-color: white;
    height: 4rem;
    font-size: 2rem;
}
.checkbox-wrapper > input{
    height: 30px;
    width: 30px;
}
.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    display: none;
}
.displayForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}
.book-container{
    display: flex;
    flex-direction: column;
}
.book-container> h2{
    text-align: center;
    color: antiquewhite;
}
.books{
    display: flex;
    flex-wrap: wrap;
}
.books >div{
    display: flex;
    background-color: rgb(222, 228, 228);
    width: 30%;
    margin: 10px;
    box-shadow: 2px 5px 5px 2px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
   
}
.books >div>ul{
    padding-left: 5px;
}
ul{
    width: 100%;
}
li{
    list-style: none;
}
li >div{
    margin-top: 10px;
}
.readStatus{
    text-align: center;
    width: 100%;
    background-color: rgb(149, 224, 149);
    height: 2rem;
    font-size: 30px;
}
.delete-edit-button-container{
    margin-top: 10px;
    width: 100%;
}
.delete-edit-button-container >.delete{
    width: 50%;
    font-size: 20px;
    background-color: red;
    border-radius: 5px;
}
.delete-edit-button-container>.edit{
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
}
.do-not-display{
    display: none;
}